@model Ahram_Clinic.Models.Doctors

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Clinic_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Doctors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Certificates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Certificates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"  class="btn btn-outline-info">Back To List</a>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info">Edit</a>
</div>
</body>
</html>
